@charset "UTF-8";
/*Gobal*/
body {
  line-height: 1;
  font-family: "Poppins", sans-serif;
  color: #4f5665;
  font-weight: 400;
  background-color: white;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  display: inline-block;
  padding: 13px 45px;
  border-radius: 100rem;
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  text-align: center;
  white-space: nowrap;
}
.button--primary {
  font-weight: 700;
  background-color: #f53838;
  color: white;
}
.button--outline {
  background-color: transparent;
  color: #f53838;
  font-weight: 500;
  border: 1px solid;
}
.button--rounded {
  border-radius: 10px;
  padding: 17px 65px;
}
.button--shadow {
  position: relative;
}
.button--shadow:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 90%;
  height: 100%;
  transform: translate(-50%, 50%);
  background-color: rgba(245, 56, 56, 0.35);
  filter: blur(54px);
  border-radius: inherit;
}

button:hover {
  opacity: 0.7;
}

.boxed {
  max-width: 555px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 26px;
  margin-bottom: 12px;
}

p.des {
  font-size: 14px;
  color: #6d6d6d;
}

@media screen and (max-width: 767px) {
  .button {
    padding: 13px 26px;
  }
}
.product .slick-list {
  padding: 0 20% 0 0 !important;
}

.header {
  padding-top: 50px;
  padding-bottom: 50px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container .wrap-logo {
  width: 180px;
}
.header .menu-close {
  display: none;
}
.header-auth {
  display: flex;
  align-items: center;
  gap: 0 30px;
  text-transform: capitalize;
}
.header-signin {
  font-weight: 500;
  color: #0b132a;
}
.header-signup {
  padding: 13px 45px;
  border-radius: 100rem;
  color: #f53838;
  border: 1px solid;
  font-weight: 500;
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 50px 0 50px;
  }

  .header-auth {
    display: none;
  }
}
/* Menu css*/
.menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0 40px;
}
.menu .sub-menu {
  box-shadow: 0px 4px 2px 2px #dddddd;
  width: 120%;
  display: none;
  list-style: none;
  background-color: #fff;
  padding: 20px 10px 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.menu .sub-menu li {
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 12px;
}
.menu-item:hover .sub-menu {
  display: block;
  position: absolute;
}
.menu-item {
  position: relative;
}
.menu-link {
  color: inherit;
  display: inline-block;
}
.menu-toggle {
  display: none;
  width: 30px;
  height: 20px;
}
.menu-toggle span {
  pointer-events: none;
  width: 100%;
  height: 3px;
  background-color: #0b132a;
  display: block;
}

@media (hover: hover) {
  .menu-link {
    position: relative;
    transition: all 0.2s linear;
  }
  .menu-link:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: auto;
    right: 0;
    width: 0;
    height: 3px;
    background-color: #f53838;
    transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .menu-link:hover {
    color: #f53838;
  }
  .menu-link:hover:after {
    width: 100%;
    left: 0;
    right: auto;
  }
}
@media screen and (min-width: 768px) {
  .menu-item--auth {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .is-show .menu-close {
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    display: block;
  }

  .menu {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    width: 300px;
    z-index: 99;
    border-left: 1px solid #ddd;
    flex-direction: column;
    gap: 10px 0;
    padding-top: 60px;
    align-items: stretch;
    transform: translateX(100%);
    will-change: transform;
    transition: all 0.2s linear;
  }
  .menu.is-show {
    transform: translateX(0);
  }

  .menu-link {
    display: block;
    width: 100%;
    padding: 15px;
  }

  .menu-toggle {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .menu-item--auth {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 0 20px;
  }

  .header {
    padding: 30px 0;
  }
}
.service {
  background-image: url("../images/decor3.png");
  background-repeat: no-repeat;
  background-position: 95% 19%;
  background-size: 87px;
  position: relative;
  padding: 60px 0;
}
.service h2 {
  font-size: 26px;
  margin-bottom: 30px;
}
.service-list {
  margin-bottom: 125px;
}
.service-item {
  padding: 0 25px;
  color: #b0b0b0;
  cursor: pointer;
  font-size: 18px;
}
.service-item.active {
  color: #242829;
  position: relative;
}
.service-item.active:after {
  content: "";
  position: absolute;
  width: 30%;
  height: 2px;
  background: #00aeef;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
}
.service-item:not(:last-child) {
  border-right: 1px solid #c6c6c6;
}
.service-images {
  display: flex;
  gap: 0 20px;
}
.service-column:nth-child(2) {
  transform: translateY(-60px);
}
.service-column {
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.service-column a {
  position: relative;
}
.service-column img {
  border-radius: 18px;
}
.service-column .title {
  color: #0a65be;
  background-color: #fff;
  font-size: 15px;
  padding: 15px 23px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  width: 235px;
  bottom: 0;
  border-radius: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .service-column {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 55px;
    margin-bottom: 41px;
  }
  .service-column .title {
    padding: 11px 19px;
    font-size: 12px;
    transform: translateX(-50%) translateY(50%);
  }
  .service-column:nth-child(2) {
    transform: translateY(0);
  }
  .service-images {
    justify-content: center;
    flex-wrap: wrap;
  }
  .service-list {
    margin-bottom: 55px;
  }
}
@media screen and (max-width: 767px) {
  .service {
    background-size: 37px;
  }
  .service-column {
    gap: 25px;
  }
  .service-column img {
    border-radius: 5px;
  }
  .service .title {
    padding: 11px 8px;
    font-size: 10px;
    width: 90%;
  }
  .service-item {
    font-size: 10px;
    padding: 0 15px;
  }
}
.construct h2 {
  margin-bottom: 15px;
}
.construct .descipt {
  font-size: 14px;
  color: #6d6d6d;
  text-align: center;
  margin-bottom: 32px;
}
.construct-list {
  display: flex;
  gap: 20px;
}
.construct-item img {
  border-radius: 20px;
  margin-bottom: 15px;
}
.construct-item a {
  color: #2d3436;
  display: flex;
  align-items: center;
}
.construct-item span {
  font-size: 16px;
}
.construct-item ion-icon {
  color: #0a65be;
}

@media screen and (max-width: 768px) {
  .construct-item {
    width: 48%;
  }
  .construct-item span {
    font-size: 12px;
  }
  .construct-item img {
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .construct-list {
    flex-wrap: wrap;
    gap: 10px;
  }
}
.product-wrapper {
  display: flex;
  margin-top: 36px;
  max-width: 1315px;
  margin-left: auto;
  padding-left: 15px;
}
.product h2 {
  margin-bottom: 12px;
  text-align: center;
  margin-top: 92px;
}
.product .descript {
  font-size: 14px;
  text-align: center;
}
.product-wrapper {
  display: flex;
  margin-top: 36px;
  gap: 100px;
}
.product-des {
  width: 45%;
}
.product-des h3 {
  font-size: 36px;
  margin-bottom: 24px;
}
.product-des p {
  font-size: 14px;
  color: #383838;
}
.product-des .call {
  width: 242px;
}
.product-des .call p {
  text-align: center;
  font-size: 14px;
}
.product-des .call .tel {
  border: 1px solid red;
  display: flex;
  gap: 26px;
  width: 100%;
  align-items: center;
  border-radius: 20px;
  color: #393438;
  margin-top: 10px;
}
.product-des .call .tel img {
  width: 44px;
  margin-left: 3px;
}
.product-des-color {
  display: flex;
  gap: 18px;
  background-color: #f0f3f4;
  width: 242px;
  border-radius: 20px;
  justify-content: center;
  margin: 33px 0 44px 0;
  padding: 9px;
}
.product-des-color div {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: gray;
  position: relative;
}
.product-des-color div.active::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 114%;
  height: 114%;
  background: transparent;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #0a65be;
  z-index: 0;
}
.product-slider {
  width: 55%;
  position: relative;
}
.product-slider .slick-next {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 42%;
  color: transparent;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.product-slider .slick-next::after {
  content: "→";
  font-size: 20px;
  position: absolute;
  inset: 0;
  color: #0a65be;
  top: 50%;
  transform: translateY(-48%);
}
.product-slider .slick-prev {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 31%;
  color: transparent;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.product-slider .slick-prev::after {
  content: "←";
  font-size: 20px;
  position: absolute;
  inset: 0;
  color: #0a65be;
  top: 50%;
  transform: translateY(-48%);
}
.product-slider .slick-next,
.product-slider .slick-prev {
  z-index: 100;
}

@media screen and (max-width: 767px) {
  .product {
    padding: 15px;
  }
  .product h2 {
    margin-top: 32px;
  }

  .product-wrapper {
    gap: 0;
    flex-wrap: wrap;
  }
  .product-wrapper .product-des {
    margin-bottom: 30px;
    width: 100%;
  }
  .product-wrapper .product-slider {
    width: 100%;
  }
  .product-wrapper .product-slider .slick-next,
.product-wrapper .product-slider .slick-prev {
    bottom: -50px;
    width: 40px;
    height: 40px;
  }
  .product-wrapper .product-slider .slick-next::after,
.product-wrapper .product-slider .slick-prev::after {
    transform: translateY(-60%);
  }
  .product-wrapper .call {
    width: 190px;
  }
  .product-wrapper .call a {
    font-size: 14px;
  }
}
.advise {
  background-image: url("../images/decor2.png");
  background-repeat: no-repeat;
  background-position: 76% 19%;
  background-size: 113px;
  padding: 95px 15px;
  margin-top: 82px;
  background-color: #f8f8f8;
}
.advise h2 {
  text-align: center;
  margin-bottom: 12px;
}
.advise .des {
  text-align: center;
  font-size: 14px;
}
.advise .form-wrapper {
  max-width: 575px;
  margin: 32px auto 0;
}
.advise .form-wrapper button {
  width: 230px;
  height: 60px;
  margin-left: 50%;
  margin-top: 38px;
  border-radius: 10px;
  background-color: #00aeef;
  transform: translateX(-50%);
  color: #fff;
  font-size: 16px;
}
.advise .group-input {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.advise .group-input input {
  width: 48%;
  height: 50px;
  border-radius: 10px;
  border: 0.75px solid #d2d2d2;
}
.advise textarea {
  width: 100%;
  border-radius: 10px;
  border: 0.75px solid #d2d2d2;
  height: 125px;
}
.advise input {
  padding-left: 16px;
}
.advise textarea {
  padding: 16px;
}

@media screen and (max-width: 767px) {
  .advise {
    background-position: 85% 19%;
    background-size: 50px;
  }
  .advise button {
    width: auto !important;
    height: 50px !important;
    padding: 0 50px;
  }
}
.news {
  padding: 80px 0 50px;
}
.news h2 {
  margin-bottom: 12px;
}
.news img {
  border-radius: 20px;
}
.news .read-more {
  font-size: 14px;
  background-color: #00aeef;
  padding: 10px 35px;
  border-radius: 30px;
  color: #fff;
  margin-top: 18px;
  margin-left: 50%;
  transform: translateX(-50%);
}
.news-wrapper {
  gap: 20px;
  margin-top: 50px;
}
.news .left {
  width: 40%;
}
.news .left .wrap-img {
  max-width: 494px;
  margin-bottom: 12px;
}
.news .left .time {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 15px;
  color: #4d555c;
}
.news .left .time ion-icon {
  font-size: 12px;
  color: #4d555c;
}
.news .left .news-title {
  margin: 8px 0 12px;
}
.news .left .news-title h3 {
  font-size: 22px;
  line-height: 30px;
}
.news .left .news-content {
  font-size: 14px;
  color: #4d4d4d;
  line-height: 24px;
}
.news .right {
  width: 60%;
}
.news .right .news-item {
  display: flex;
  gap: 22px;
  margin-bottom: 20px;
}
.news .right .wrap-img {
  max-width: 354.74px;
}
.news .right .time {
  gap: 8px;
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #4d555c;
}
.news .right .time ion-icon {
  font-size: 15px;
  color: #4d555c;
}
.news .right .news-title {
  font-size: 16px;
  line-height: 1.5;
  margin: 4px 0 12px;
}
.news .right .news-content {
  font-size: 14px;
  line-height: 1.5;
  color: #3c4349;
}

@media screen and (max-width: 900px) {
  .news-wrapper {
    flex-wrap: wrap;
  }
  .news .left {
    width: 100%;
  }
  .news .right {
    width: 100%;
  }
  .news .read-more {
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
.partner {
  background-image: url("../images/decor1.png");
  background-repeat: no-repeat;
  background-position: 24% 0%;
  background-size: 126px;
  padding: 50px 0 135px 0;
}
.partner-wrapper {
  display: flex;
  margin-top: 50px;
  position: relative;
}
.partner .wrap-item {
  padding: 10px;
}
.partner-item {
  height: 120px;
  display: flex;
  justify-content: center;
  border: 1px solid #e2e2e2;
  border-radius: 12px;
}
.partner-item img {
  width: 50px;
  margin: 0px 80px;
  object-fit: contain;
}
.partner-item:last-child {
  margin-right: 0;
}
.partner .slick-arrow {
  display: none !important;
}
.partner .slick-dots {
  bottom: -50px;
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 50%;
  transform: translateX(-50%);
}
.partner .slick-dots li {
  margin-right: 8px;
  width: 8px !important;
  color: transparent;
  background-color: transparent;
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 0;
}
.partner .slick-dots li button {
  color: transparent;
  background-color: transparent;
}
.partner .slick-dots li::after {
  position: absolute;
  inset: 0;
  width: 8px;
  height: 8px;
  content: "•";
  text-align: center;
  background-color: #e3e3e3;
  z-index: 10;
  border-radius: 50%;
  cursor: pointer;
}
.partner .slick-dots li.slick-active::after {
  background-color: #049cd6;
}

@media screen and (max-width: 767px) {
  .partner {
    background-size: 50px;
  }
}
footer a:hover {
  opacity: 0.8;
}
footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 0;
}
footer .logo {
  width: 150px;
  margin-bottom: 20px;
}
footer h3 {
  font-size: 16px;
  margin-bottom: 16px;
}
footer .footer-column {
  width: auto;
}
footer ul.support {
  list-style: none;
}
footer .location {
  margin-bottom: 5px;
}
footer .location-item span {
  line-height: 2;
  font-size: 14px;
}
footer .contact-item {
  line-height: 2;
}
footer .folow {
  display: flex;
  gap: 14px;
}
footer .folow-item {
  width: 24px;
}
footer .support-item {
  font-size: 14px;
  line-height: 2;
}
footer .footer-bottom {
  border-top: 1px solid #dfdfdf;
}
footer .footer-bottom p {
  margin: 20px 0 35px;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  footer {
    padding: 0 15px;
  }

  .footer-column:first-child {
    width: 100% !important;
    margin-bottom: 32px;
  }

  .partner {
    padding: 0 0 67px 0;
  }

  footer .folow-item {
    width: 20px;
  }
}

/*# sourceMappingURL=app.css.map */
