* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
body {
  font-family: "Roboto", sans-serif;
}
input,
button,
select,
textarea {
  outline: none;
  font-family: "Roboto", sans-serif;
}
input {
  line-height: normal;
}
button {
  cursor: pointer;
}
